ion-item{
    --background: #3880ff;
    --color: #fff;
}

ion-button{
    --background: #062f77;
}
ion-toolbar{
    --ion-background-color:transparent;
    --opacity:0;
}
ion-header{
    position: absolute;
}
a{
    color:white;
}